{% extends "base.html" %}
{% block title %}{{ course.title }}{% endblock %}
{% block content %}
{% include "includes/pagination.html" %}

<h1 class="text-dark">Відповіді на: {{ assignment.title }}</h1>

{% for submission in submissions %}
  <div class="assignment-box">
    <p class="text-dark"><strong>Учень👨‍🎓:</strong> {{ submission.student.username }}</p>
    <p class="text-dark"><strong>Відповідь:</strong></p>
    <p class="text-dark">{{ submission.answer }}</p>

    {% if submission.grade %}
      <p class="text-dark"><strong>Оцінка:</strong> {{ submission.grade.score }}</p>
      <p class="text-dark"><strong>Коментар💬:</strong> {{ submission.grade.feedback }}</p>
      <a href="{% url 'grade_submission' submission.id %}" class="link-btn">Змінити оцінку</a>
    {% else %}
      <a href="{% url 'grade_submission' submission.id %}" class="link-btn">Оцінити</a>
    {% endif %}
  </div>
{% empty %}
  <p class="text-dark">Ще ніхто не здав завдання🚫</p>
{% endfor %}

{% endblock %}