{% extends "base.html" %}
{% block title %}{{ course.title }}{% endblock %}
{% block content %}
{% include "includes/pagination.html" %}


<h1>{{ course.title }}</h1>
<p>{{ course.description }}</p>

{% if user.is_authenticated %}
    
    {% if enrolled %}
        <p>Ви вже записані на цей курс</p>
    {% else %}
        <form method="post" action="{% url 'enroll_course' course.id %}">
            {% csrf_token %}
            <button type="submit">Записатися на курс</button>
        </form>
    {% endif %}

{% if can_create_module %}
    <hr>

    <div class="module-box">
        <h5 class="text-black mb-3">Додати новий модуль</h5>

        <form method="post">
            {% csrf_token %}

            <input type="text"
                   name="module_title"
                   class="module-input"
                   placeholder="Назва модуля"
                   required>

            <button type="submit" class="module-btn">
                ➕ Створити модуль
            </button>
        </form>
    </div>
{% endif %}

{% else %}
    <a href="{% url 'login' %}">Увійдіть, щоб записатися на курс</a>
{% endif %}

<hr>

<h2>Модулі курсу</h2>

<ul>
  {% for module in course.modules.all %}
    <li>
      <a href="{% url 'module_detail' module.id %}" class="custom-link">
        {{ module.title }}
      </a>
      {% if module.lessons.count > 0 %}
        ({{ module.lessons.count }} уроки)
      {% else %}
        (Уроків поки що немає)
      {% endif %}
    </li>
  {% empty %}
    <li>Модулів поки що немає</li>
  {% endfor %}
</ul>
<h3 class="mt-4">Записані користувачі👥</h3>

<ul class="list-group">
  {% for user in enrolled_users %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      {{ user.username }}

      <span class="badge bg-secondary">
        {% if user.is_superuser %}
          Суперадмін
        {% elif user.profile.role == "admin" %}
          Адмін
        {% elif user.profile.role == "teacher" %}
          Вчитель
        {% else %}
          Учень
        {% endif %}
      </span>
    </li>
  {% empty %}
    <li class="list-group-item">Ніхто ще не записаний🚫</li>
  {% endfor %}
</ul>

{% endblock %}
