{% extends "base.html" %}
{% block title %}Створити завдання{% endblock %}
{% block content %}
{% include "includes/pagination.html" %}

<div class="page-container">

<div class="custom-card">

<h1 class="mb-4">Створити завдання 📖 "{{ lesson.title }}"</h1>

<form method="post">
    {% csrf_token %}

    <input type="text" name="title" class="custom-input" placeholder="Назва" required>

    <textarea name="description" class="custom-textarea" rows="4" placeholder="Опис" required></textarea>

    <input type="date" name="deadline" class="custom-input" required>

    <button type="submit" class="custom-btn mt-2">
        Створити завдання
    </button>
</form>

</div>

</div>

{% endblock %}