{% extends "base.html" %}
{% block title %}{{ course.title }}{% endblock %}
{% block content %}
{% include "includes/pagination.html" %}

<h2 class="text-dark">Видалити урок🚫</h2>

<p class="text-dark">Ти впевнений, що хочеш видалити урок❔ "{{ lesson.title }}"?</p>

<form method="post" class="mt-3">
    {% csrf_token %}
    <button type="submit" class="btn-custom">Так, видалити✅</button>
    <a href="{% url 'lesson_detail' lesson.id %}" class="link-btn ms-2">Скасувати🚫</a>
</form>

{% endblock %}