{% extends "base.html" %}
{% block title %}{{ course.title }}{% endblock %}
{% block content %}
{% include "includes/pagination.html" %}

<h1>
        Редагувати завдання
</h1>

<form method="post">
    {% csrf_token %}
    <label>Назва:</label><br>
    <input type="text" name="title" value="{{ assignment.title|default_if_none:'' }}"><br><br>

    <label>Опис:</label><br>
    <textarea name="description" rows="4" cols="50">{{ assignment.description|default_if_none:'' }}</textarea><br><br>

    <label>Дедлайн:</label><br>
    <input type="date" name="deadline" value="{{ assignment.deadline|date:'Y-m-d' }}"><br><br>

    <button type="submit">
        {% if assignment %}Зберегти{% else %}Створити{% endif %}
    </button>
</form>
{% endblock %}
