{% extends "base.html" %}
{% block title %}{{ course.title }}{% endblock %}
{% block content %}
{% include "includes/pagination.html" %}

<h1 class="text-dark">Редагувати урок📕</h1>

<form method="post" style="max-width: 500px;">
    {% csrf_token %}

    <input type="text" name="title" class="custom-input" value="{{ lesson.title }}">

    <textarea name="content" class="custom-textarea mt-2" rows="6">{{ lesson.content }}</textarea>

    <input type="text" name="video_url" class="custom-input mt-2" value="{{ lesson.video_url }}">

    <button type="submit" class="btn-custom mt-3 w-100">Зберегти✅</button>
</form>

{% endblock %}