{% extends "base.html" %}
{% block title %}{{ course.title }}{% endblock %}
{% block content %}
{% include "includes/pagination.html" %}

<h1>Редагувати урок📕</h1>

<form method="post">
    {% csrf_token %}

    <p>
        Назва:<br>
        <input type="text" name="title" value="{{ lesson.title }}">
    </p>

    <p>
        Контент:<br>
        <textarea name="content" rows="6">{{ lesson.content }}</textarea>
    </p>

    <p>
        Відео URL📹:<br>
        <input type="text" name="video_url" value="{{ lesson.video_url }}">
    </p>

    <button type="submit">Зберегти✅</button>
</form>
{% endblock %}
