{% extends "base.html" %}
{% block title %}{{ course.title }}{% endblock %}
{% block content %}
{% include "includes/pagination.html" %}

<h1 class="text-dark">Редагувати завдання📕</h1>

<form method="post" style="max-width: 500px;">
    {% csrf_token %}

    <input type="text" name="title" class="custom-input" value="{{ assignment.title|default_if_none:'' }}">

    <textarea name="description" class="custom-textarea mt-2" rows="4">{{ assignment.description|default_if_none:'' }}</textarea>

    <input type="date" name="deadline" class="custom-input mt-2" value="{{ assignment.deadline|date:'Y-m-d' }}">

    <button type="submit" class="btn-custom mt-3 w-100">
        {% if assignment %}Зберегти✅{% else %}Створити{% endif %}
    </button>
</form>

{% endblock %}