{% extends "base.html" %}
{% block title %}{{ course.title }}{% endblock %}
{% block content %}
{% include "includes/pagination.html" %}

<h1 class="text-dark">Оцінити відповідь</h1>

<p class="text-dark"><strong>Учень👨‍🎓:</strong> {{ submission.student.username }}</p>
<p class="text-dark">{{ submission.answer }}</p>

<form method="post" style="max-width: 400px;">
  {% csrf_token %}

  <input type="number" name="score" class="custom-input" min="1" max="12"
         {% if submission.grade %}value="{{ submission.grade.score }}"{% endif %}>

  <textarea name="feedback" class="custom-textarea mt-2" rows="4">{% if submission.grade %}{{ submission.grade.feedback }}{% endif %}</textarea>

  <button type="submit" class="btn-custom mt-3 w-100">Зберегти✅</button>
</form>

{% endblock %}