<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Курси</title>
</head>
<body>

{% if user.is_authenticated %}
  <p>Привіт, {{ user.username }}!</p>
  <form method="post" action="{% url 'logout' %}" style="display:inline;">
      {% csrf_token %}
      <button type="submit">Вийти</button>
  </form>

{% if user.is_superuser or user.profile.role == "teacher" or user.profile.role == "admin" %}
  <p><a href="{% url 'select_module' %}">Створити урок</a></p>
{% endif %}


  {% if user.is_superuser or user.profile.role == "admin" %}
    <p><a href="{% url 'manage_roles' %}">Керувати ролями</a></p>
  {% endif %}

{% else %}
  <a href="{% url 'login' %}">Увійти</a>
  <a href="{% url 'register' %}">Реєстрація</a>
{% endif %}

<h1>Курси</h1>

<ul>
  {% for course in courses %}
    <li>
      <a href="{% url 'course_detail' course.id %}">
        {{ course.title }}
      </a>
    </li>
  {% empty %}
    <li>Курсів ще немає</li>
  {% endfor %}
</ul>

</body>
</html>
