{% extends "base.html" %}
{% block title %}{{ course.title }}{% endblock %}
{% block content %}
{% include "includes/pagination.html" %}

{% load custom_tags %}

<h1 class="text-black">{{ lesson.title }}</h1>
<p class="text-black">{{ lesson.content }}</p>

{% if lesson.video_url %}
  <iframe width="560" height="315" src="{{ lesson.video_url }}" frameborder="0" allowfullscreen></iframe>
{% endif %}

{% if user.is_superuser or user.profile.role == "teacher" or user.profile.role == "admin" %}
  <div class="action-links mb-3">
    <a href="{% url 'edit_lesson' lesson.id %}" class="link-btn">Редагувати урок📖</a>
    <a href="{% url 'delete_lesson' lesson.id %}" class="link-btn">Видалити урок🚫</a>
    <a href="{% url 'create_assignment' lesson.id %}" class="link-btn">Створити завдання📚</a>
  </div>
{% endif %}

<h2 class="text-black">Завдання📕</h2>

{% if enrolled %}
  {% if lesson.assignments.exists %}
    {% for assignment in lesson.assignments.all %}
      <div class="assignment-box">
        <h3 class="text-black">{{ assignment.title }}</h3>
        <p class="text-black">{{ assignment.description }}</p>
        <p class="text-black">Дедлайн: {{ assignment.deadline }}</p>

        {% if user.is_superuser or user.profile.role == "teacher" or user.profile.role == "admin" %}
          <div class="action-links mb-2">
            <a href="{% url 'edit_assignment' assignment.id %}" class="link-btn">Редагувати📖</a>
            <a href="{% url 'delete_assignment' assignment.id %}" class="link-btn">Видалити🚫</a>
            <a href="{% url 'assignment_submissions' assignment.id %}" class="link-btn">Відповіді👨‍🎓</a>
          </div>
        {% endif %}

        {% if user.is_authenticated %}
          {% if user_submissions|get_item:assignment.id %}
            <p class="text-success">Ви вже здали це завдання✅</p>
          {% else %}
            <form method="post" action="{% url 'submit_assignment' assignment.id %}">
              {% csrf_token %}
              <textarea name="answer" class="custom-textarea" rows="4" placeholder="Ваша відповідь тут"></textarea>
              <button type="submit" class="btn-custom mt-2">Відправити ➡️</button>
            </form>
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}
  {% else %}
    {% if user.is_superuser or user.profile.role == "teacher" or user.profile.role == "admin" %}
      <p class="text-black">Завдань поки що немає🚫.</p>
      <a href="{% url 'create_assignment' lesson.id %}" class="link-btn">➕ Створити перше завдання</a>
    {% else %}
      <p class="text-black">Завдань поки що немає📖.</p>
    {% endif %}
  {% endif %}
{% else %}
  <p class="text-black">Запишіться на курс, щоб переглянути завдання🚫</p>
{% endif %}
{% endblock %}