{% extends "base.html" %}
{% block title %}{{ course.title }}{% endblock %}
{% block content %}
{% include "includes/pagination.html" %}

<h1>{{ module.title }}</h1>

{% if user.is_authenticated %}
    {% if user.is_superuser or user.profile.role in "teacher admin" %}
        <a href="{% url 'create_lesson' module.id %}" class="btn btn-primary">
            Створити урок📖
        </a>
    {% endif %}
{% endif %}

<h2>Уроки📚</h2>
<ul>
  {% for lesson in module.lessons.all %}
    <li>
      <a href="{% url 'lesson_detail' lesson.id %}">
        {{ lesson.title }}
      </a>
    </li>
  {% empty %}
    <li>У цьому модулі ще немає уроків🚫.</li>
  {% endfor %}
</ul>
{% endblock %}
