{% extends "base.html" %}
{% block title %}{{ course.title }}{% endblock %}
{% block content %}
{% include "includes/pagination.html" %}

<h1 class="text-dark">Виберіть модуль📖</h1>

<ul class="mt-3">
  {% for module in modules %}
    <li class="mb-2">
      {{ module.course.title }} - {{ module.title }}
      <a href="{% url 'create_lesson' module.id %}" class="btn-custom ms-2">Створити урок📖</a>
    </li>
  {% empty %}
    <li class="text-dark">Модулів ще немає🚫</li>
  {% endfor %}
</ul>

{% endblock %}